
/*----------- Footer  ---------------*/
.footer-warrper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0 100px 0;
  width: 100%;
}

.nft-constructer p {
  font-family: var(--secondary-font);
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-constructer p a {
  text-decoration: none;
  color: var(--praimary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-constructer p a img {
  width: 40px;
  margin: 0 10px;
}

.socials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
}
.social-list a{
  display: flex;
  gap: 22px;
  background: none;
  align-items: center;
  border: none;
  position: relative;
  justify-content: center;
}
.social-content{
  display: flex;
  align-items: center;
  gap: 10px;
  background: #00FFFF;
  padding: 10px 30px; 
  border-radius: 5px;

}
.social-content p{
  color: #000;
  font-weight: 600;
  font-size: 24px;
}
.social-content img{
  width:100%;
}

.socials .social-list{
  transition: 0.4s;
}
.socials .social-list:hover {
  transform: scale(1.1);
}
.copyright p{
  text-align: center;
  font-family: var(--secondary-font);
  color: #FFFFFF;
  margin: 25px 0;
  font-size: 16px;
}
.terms-and-policy{
width: 50%;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
}
.terms-and-policy p{
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 300;
  font-family: var(--secondary-font);
  text-decoration: underline;
}
.copy-right-text{
  width: 80%;
  margin: auto;
  text-align: center;
}
@media only screen and (max-width:800px){
  .socials {
    grid-template-columns: 1fr 1fr;
    gap: 50px 0;
  }
.nft-constructer p {
  font-size: 15px;
}
}
@media only screen and (max-width:600px){
.footer-warrper{
  padding: 60px 0 60px 0;
}
.copy-right-text{
  width: 90%;
}
.social-content p{
  font-size: 20px;
}
}
@media only screen and (max-width:500px){
    .socials .social-list img {
      width:90%;
    }
    .copyright p{
      font-size: 14px;
    }
}