/*  ============== Pc and Mobile ============== */
/* {=============== Hero Section Start =====================} */
.intro {
  padding: 250px 0 200px;
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}
.hero-img-1 {
position: absolute;
bottom: 0;
left: 0;
}
.hero-img-1 img{
  width: 100%;
}
.hero-img-2 {
position: absolute;
bottom: 0;
right: 0;
}
.hero-img-2 img{
  width: 100%;
}
.section-bg-img {
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discription {
  opacity: 0;
  transition: 1s;
  font-size: 16px;
  width: 80%;
  margin: auto;
  transform: translateY(80px);
}

.hero-btn:hover {
  transform: scale(1.05);
}
.section-bg-img img {
  z-index: -1;
  width: 95%;
  height: 800px;
}
.hero-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  text-align: center;
}
.join-btn-text {
  position: absolute;
}
.join-btn-text span {
  font-size: 18px;
  color: var(--black-color);
  font-family: var(--secondary-font);
  font-weight: 900;
}
.intro .join-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.intro .join-btn .play-show-btn {
  background: #171649;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: var(--white-color);
  padding: 20px 40px;
  font-weight: 900;
}
.join-btn a {
  position: relative;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 20px;
}
.join-btn a:hover {
  transform: scale(1.05);
}
.join-btn img {
  width: 200px;
}
.hero-imgs {
  transition: 0.4s;
  cursor: pointer;
}
.hero-imgs:hover {
  transform: scale(1.05);
}
/* {=============== Hero Section End =====================} */
/* {================== Course start =================} */

.courses-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.course-title{
  text-align: center;
}
.courses-con {
  margin-top: 100px;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.course-item {
  position: relative;
  background: #0e103b;
  border: 3px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  transition: 0.4s;
  padding: 150px 0 50px 0;
  cursor: pointer;
  /* text-align: center; */
}
.course-item:hover {
  background: linear-gradient(180deg, #841ca1 0%, rgba(14, 16, 59, 0) 100%);
  border: 3px solid rgba(255, 255, 255, 0.2);
}
.course-item-img {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -50px;
}
.section-item-slider {
  cursor: pointer;
  opacity: 0;
  transition: 1.5s;
  transform: translateY(400px);
}

.course-item .course-content {
  padding: 0 50px;
}
.course-item .course-content p {
  margin-bottom: 15px;
  line-height: 20px;
}
.course-item .course-content h4 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.course-item-img img {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-header-content {
  position: absolute;
}

/* {=================== virtual-office start ==================} */
.customer-office {
  padding: 150px 0 100px 0;
}
.customer-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.customer-title{
  text-align: center;
}
.customer-items {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  align-items: center;
}
.customer-items .customer-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 60px 15px 30px 15px;
  background: #0e103b;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}
.customer-items .customer-item:hover {
  background: linear-gradient(180deg, #841ca1 0%, rgba(14, 16, 59, 0) 100%);
}
.customer-profile {
  position: absolute;
  top: -60px;
  width: 100px;
  height: 100px;
}
.customer-profile img {
  width: 100%;
  border-radius: 50px;
  border: 3px solid #ffffff;
}
.customer-img-side {
  position: absolute;
  top: -22px;
  left: 12px;
}
.customer-img-side img {
  width: 100%;
}
.c .customer-content {
  text-align: center;
}
.customer-content h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.customer-content span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.customer-content p {
  margin-top: 15px;
}
.customer-review {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
/* {=================== virtual-office end ==================} */
/* {================= Remote Job Start ====================} */
.about {
  /* position: relative; */
}
.about-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.about-wrapper p {
  padding-top: 20px;
}
.about-img-1 {
  position: absolute;
  bottom: -30px;
  left: 0;
}
.about-img-1 img {
  width: 300px;
}
.about-img-2 {
  position: absolute;
  bottom: -30px;
  right: 0;
}
.about-img-2 img {
  width: 400px;
}

/* {================= Remote Job end ====================} */
/* ===================== Order Compelete Start ============ */
.order-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  position: relative;
  text-align: center;
}
.back-wrapper {
  position: absolute;
  top: 20%;
  left: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: var(--white-color);
}
.order-complete-img img {
  width: 100%;
}
.oder-title h1 {
  font-size: 50px;
  font-family: var(--primary-font);
  font-weight: 900;
}
.oder-title p {
  width: 100%;
  margin: auto;
  padding-top: 20px;
}
.social-area h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--primary-font);
}
.social-links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
@media only screen and (max-width: 550px) {
  .oder-title h1 {
    font-size: 30px;
  }
  .back-wrapper {
    top: 15%;
    left: 0;
  }
  .order-complete-img img {
    width: 80%;
  }
}
/* ===================== Order Compelete End ============ */
